{% extends "base.html" %}

{% block content %}
  {% if driver_list %}
    <section class="wrapper-main">
      <table>
      <colgroup>
        <col span="2" style="background-color: aquamarine">
      </colgroup>
        <tr>
          <th>Username</th>
        </tr>
        <tr>
          {% for driver in driver_list %}
            <tr>
              <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.username }}</a></td>
            </tr>
        {% endfor %}
      </table>
    </section>
  {% endif %}
{% endblock %}
